.tooltip {
    background-color: #9FD2D6;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border-radius: 30px;
    line-height: normal;
    font-family: "apercu",sans-serif;
    display: inline-block;
}

.tooltip-text {
    position: relative;
    width: auto;
    padding: 8px 16px;
    background-color: #9FD2D6;
    white-space: nowrap;
    color: #fff;
    font-size: 14px;
    line-height: normal;
    text-align: center;
    border-radius: 30px;
    z-index: 970;
}

.tooltip-text:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    height: 0;
    width: 0;
    margin-left: -6px;
    border: solid transparent;
    border-top-color: #9FD2D6;
    border-width: 8px 6px;
}